<a href="https://colab.research.google.com/github/LaibaNaheed/All-in-One-Python-Practice-Notebook-Conditional-statements-Loops/blob/main/All-in-One-Python-Practice-Notebook-Conditional-statements-Loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

*LAB MANUALS*
* LAIBA NAHEED
* FA23-BSCS-346

LAB TASK 1:

Task 1: If – Else Statements

QUESTION 1:Write a program to check whether a given number is even or odd.

In [ ]:
# Input from user
num = int(input("Enter a number: "))

# Check condition
if num % 2 == 0:
    print(f"{num} is Even")
else:
    print(f"{num} is Odd")

Enter a number: 4
4 is Even

QUESTION 2: Write a program to check if a person is eligible to vote (age ≥ 18).

In [ ]:
# Input age
age = int(input("Enter your age: "))

# Check condition
if age >= 18:
    print("You are eligible to vote ")
else:
    print("You are NOT eligible to vote ")

Enter your age: 0
You are NOT eligible to vote

QUESTION 3:Write a program that takes a temperature value and checks whether it is above freezing or below freezing
(0°C).

In [ ]:
# Input temperature
temperature = float(input("Enter temperature in °C: "))

# Check condition
if temperature > 0:
    print("The temperature is above freezing ")
elif temperature == 0:
    print("The temperature is exactly at the freezing point ")
else:
    print("The temperature is below freezing ")

Enter temperature in °C: 0.55
The temperature is above freezing

Task2: If – Elif – Else Statements

QUESTION 1:Write a program to determine the grade of a student based on marks:
o A (≥ 85), B (70–84), C (50–69), F (&lt; 50).

In [ ]:
# Input marks
marks = int(input("Enter student marks: "))

# Check grade conditions
if marks >= 85:
    grade = "A"
elif marks >= 70:
    grade = "B"
elif marks >= 50:
    grade = "C"
else:
    grade = "F"

# Output result
print(f"Student grade: {grade}")

Enter student marks: 78
Student grade: B

QUESTION 2:Write a program to check whether a given year is a leap year or not.

In [ ]:
year = int(input("Enter a year: "))

# Leap year conditions
if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
    print(f"{year} is a Leap Year ")
else:
    print(f"{year} is NOT a Leap Year ")

Enter a year: 1900
1900 is NOT a Leap Year

QUESTION 3:Write a program that accepts an integer and prints whether it is positive, negative, or zero.

In [ ]:
num = int(input("Enter an integer: "))

if num > 0:
    print(f"{num} is Positive ")
elif num < 0:
    print(f"{num} is Negative ")
else:
    print("The number is Zero 0️")

Enter an integer: 23
23 is Positive

Task 3: Match Case Statements (Python 3.10+)

QUESTION 1:Write a program that takes a number (1–7) and prints the corresponding day of the week.

In [ ]:
# Program to print day of the week from number

day_num = int(input("Enter a number (1-7): "))

if day_num == 1:
    print("Monday")
elif day_num == 2:
    print("Tuesday")
elif day_num == 3:
    print("Wednesday")
elif day_num == 4:
    print("Thursday")
elif day_num == 5:
    print("Friday")
elif day_num == 6:
    print("Saturday")
elif day_num == 7:
    print("Sunday")
else:
    print("Invalid number! Please enter between 1 and 7.")

Enter a number (1-7): 4
Thursday

QUESTION 2:Write a program that takes a number (1–12) and prints the month name.

In [ ]:
month_num = int(input("Enter a number (1-12): "))

if month_num == 1:
    print("January")
elif month_num == 2:
    print("February")
elif month_num == 3:
    print("March")
elif month_num == 4:
    print("April")
elif month_num == 5:
    print("May")
elif month_num == 6:
    print("June")
elif month_num == 7:
    print("July")
elif month_num == 8:
    print("August")
elif month_num == 9:
    print("September")
elif month_num == 10:
    print("October")
elif month_num == 11:
    print("November")
elif month_num == 12:
    print("December")
else:
    print("Invalid number! Please enter between 1 and 12.")

Enter a number (1-12): 11
November

QUESTION 3:Write a simple calculator program using match case (addition, subtraction, multiplication, division).

In [ ]:
# Simple Calculator using match-case

num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))

print("Choose operation:")
print("1. Addition (+)")
print("2. Subtraction (-)")
print("3. Multiplication (*)")
print("4. Division (/)")

choice = input("Enter operation (+, -, *, /): ")

match choice:
    case "+":
        print(f"Result: {num1} + {num2} = {num1 + num2}")
    case "-":
        print(f"Result: {num1} - {num2} = {num1 - num2}")
    case "*":
        print(f"Result: {num1} * {num2} = {num1 * num2}")
    case "/":
        if num2 != 0:
            print(f"Result: {num1} / {num2} = {num1 / num2}")
        else:
            print("Error! Division by zero ")
    case _:
        print("Invalid operation ")

Choose operation:
1. Addition (+)
2. Subtraction (-)
3. Multiplication (*)
4. Division (/)
Enter operation (+, -, *, /): 2
Invalid operation

Task 4: While Loop

QUESTION 1:Write a program to print numbers from 1 to 10 using while.

In [ ]:
i = 1  # starting number
while i <= 10:
    print(i)
    i += 1  # increase i by 1

1
2
3
4
5
6
7
8
9
10

QUESTION 2:Write a program to compute the sum of first N natural numbers using while.

In [ ]:
N = int(input("Enter a number (N): "))

i = 1
total = 0

while i <= N:
    total += i   # add current number
    i += 1       # move to next number

print(f"Sum of first {N} natural numbers is: {total}")

Enter a number (N): 456
Sum of first 456 natural numbers is: 104196

QUESTION 3:Write a program to reverse the digits of a given number (e.g., 123 → 321).

In [ ]:
num = int(input("Enter a number: "))

reverse = 0
while num > 0:
    digit = num % 10        # get last digit
    reverse = reverse * 10 + digit  # add digit to reverse
    num = num // 10         # remove last digit

print("Reversed number:", reverse)

Enter a number: 56
Reversed number: 65

Task 5: For Loop

QUESTION 1:Write a program to print the multiplication table of a number.

In [ ]:
num = int(input("Enter a number: "))

print(f"\nMultiplication Table of {num}:")
i = 1
while i <= 10:
    print(f"{num} x {i} = {num * i}")
    i += 1

Enter a number: 4

Multiplication Table of 4:
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

QUESTION 2:Write a program to find the factorial of a given number.

In [ ]:
num = int(input("Enter a number: "))

factorial = 1
i = 1

while i <= num:
    factorial *= i
    i += 1

print(f"Factorial of {num} is: {factorial}")

Enter a number: 2
Factorial of 2 is: 2

QUESTION 3:Write a program to count the number of vowels in a string.

In [ ]:
text = input("Enter a string: ")

vowels = "aeiouAEIOU"
count = 0

for char in text:
    if char in vowels:
        count += 1

print(f"Number of vowels in the string: {count}")

Enter a string: fjfsakmdpevo
Number of vowels in the string: 3

Task 6: Range Function

QUESTION 1:Print numbers from 1 to 20 using range().

In [ ]:
for num in range(1, 21):   # start=1, stop=21 (exclusive)
    print(num)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

QUESTION 2:Print all even numbers between 1 and 50 using range().

In [ ]:
for num in range(2, 51, 2):   # start=2, stop=51, step=2
    print(num)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

QUESTION 3:Print all even numbers between 1 and 50 using range().

In [ ]:
rows = 5

for i in range(1, rows + 1):        # 1 to 5
    for j in range(i):              # print i stars in each row
        print("*", end="")          # end="" keeps on same line
    print()

*
**
***
****
*****

Thank You!